{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1 class="pull-left">Viestin historia</h1>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
    <li><a href="{{base_path}}/frontpage">Etusivu</a></li>
    <li><a href="{{base_path}}/area/{{area.id}}">{{area.name}}</a></li>
    <li><a href="{{base_path}}/topic/{{topic.id}}">{{topic.name}}</a></li>
    <li><a href="{{base_path}}/message/{{message.id}}">{{message.latest_version.title}}</a></li>
</ol>

{% for version in versions %}

<div class="panel panel-default">
    <div class="panel-heading message-topic">
        <h3 class="panel-title pull-left">{{version.title}}</h3>
    </div>
    <div class="panel-body">
        {{version.content}}
    </div>
    <div class="panel-footer message-info">
        <div class="pull-left user-info">
            <small>{{version.member.name}}</small>
        </div>
        <div class="pull-right user-info">
            <small>Lähetetty {{version.time}}</small>
        </div>
    </div>
</div>

{% endfor %}

{% include 'pagination.html' %}

<div class="clearfix"></div>

{% include 'topic/send_message.html' %}

{% endblock %}