{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1 class="pull-left">Keskustelufoorumi</h1>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
    <li><a href="frontpage">Etusivu</a></li>
    <li><a href="area">Random asiaa</a></li>
    <li><a href="topic">asdf</a></li>
</ol>

<!-- MESSAGES -->

<div class="panel panel-default">
    <div class="panel-heading message-topic">
        <h3 class="panel-title pull-left">Random viesti</h3>

        <div class="input-group">
            <div class="input-group-btn btn-group-xs">
                <button class="btn btn-default pull-right message-tools"><i class="glyphicon glyphicon-remove"></i></button>
                <a href="editmessage" class="btn btn-default pull-right message-tools" role="button"><i class="glyphicon glyphicon-edit"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, an ubique propriae fabellas
        eos. Ut alienum consetetur sadipscing per. Elit luptatum
        consequat ne eum, per vocibus explicari ex, eu sea nulla
        assentior. Eum ad dicunt aeterno accusam. Ut veritus
        dolores per, ad veniam dolorem eam. Te rationibus
        neglegentur his, eu eum modo vero.
    </div>
    <div class="panel-footer message-info">
        <div class="pull-left user-info">
            <small>Martti ahtisaari</small>
        </div>
        <div class="pull-right user-info">
            <small>Lähetetty 29.4.2015 12.23</small>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading message-topic">
        <h3 class="panel-title pull-left">Toinen random viesti</h3>

        <div class="input-group">
            <div class="input-group-btn btn-group-xs">
                <button class="btn btn-default pull-right message-tools"><i class="glyphicon glyphicon-remove"></i></button>
                <button class="btn btn-default pull-right message-tools"><i class="glyphicon glyphicon-edit"></i></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, an ubique propriae fabellas
        eos. Ut alienum consetetur sadipscing per. Elit luptatum
        consequat ne eum, per vocibus explicari ex, eu sea nulla
        assentior. Eum ad dicunt aeterno accusam. Ut veritus
        dolores per, ad veniam dolorem eam. Te rationibus
        neglegentur his, eu eum modo vero.
    </div>
    <div class="panel-footer message-info">
        <div class="pull-left user-info">
            <small>Tarja Halonen</small>
        </div>
        <div class="pull-right user-info">
            <small>Lähetetty 25.4.2015 15.23</small>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading message-topic">
        <h3 class="panel-title pull-left">Kolmas random viesti</h3>

        <div class="input-group">
            <div class="input-group-btn btn-group-xs">
                <button class="btn btn-default pull-right message-tools"><i class="glyphicon glyphicon-remove"></i></button>
                <button class="btn btn-default pull-right message-tools"><i class="glyphicon glyphicon-edit"></i></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, an ubique propriae fabellas
            eos. Ut alienum consetetur sadipscing per. Elit luptatum
            consequat ne eum, per vocibus explicari ex, eu sea nulla
            assentior. Eum ad dicunt aeterno accusam. Ut veritus
            dolores per, ad veniam dolorem eam. Te rationibus
            neglegentur his, eu eum modo vero.</p>

        <p>Vix ad prima consul comprehensam. Nam partem referrentur
            dissentiunt at, utroque percipitur cum id, an vel prima
            equidem. Ea tation consetetur voluptatibus vix, sed in
            clita doctus deserunt, tation interesset in has. Ne duo
            aeque persequeris, ornatus veritus at vel.</p>

        <p>Ex amet regione elaboraret sea, vis ut mutat ceteros, eu
            vim nisl populo praesent. Aperiam dignissim assentior ad
            cum, dicat debet an est, est vidisse alterum pertinacia
            ea. Nostrum delicata scripserit nec ei, quidam admodum
            iudicabit in ius. Quo ea esse nonumy aliquam, semper
            democritum sententiae mei te. Eos modo tempor aliquando
            et.</p>
    </div>
    <div class="panel-footer message-info">
        <div class="pull-left user-info">
            <small>Urho Kekkonen</small>
        </div>
        <div class="pull-right user-info">
            <small>Lähetetty 22.4.2015 22.23</small>
        </div>
    </div>
</div>

<!-- END OF MESSAGES -->

<!-- PAGINATION -->

<nav class="pull-right">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active">
            <span>1 <span class="sr-only">(current)</span></span>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- END OF PAGINATION -->

<!-- SEND MESSAGE -->

<div class="clearfix"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Lähetä uusi viesti</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="topic">Otsikko</label>
                <input type="text" class="form-control" id="topic" required>
            </div>
            <div class="form-group">
                <label for="message">Viesti</label>
                <textarea class="form-control" rows="8" id="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-default" id="submit">Lähetä</button>
        </form>
    </div>
</div>

<!-- END OF SEND MESSAGE -->

{% endblock %}