{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<div class="page-header">
    <h1 class="pull-left">Keskustelufoorumi</h1>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
    <li><a href="{{base_path}}/frontpage">Etusivu</a></li>
</ol>

{% for category in categories %}

<table class="table forum table-striped">
    <thead>
        <tr>
            <th class="cell-stat"></th>
            <th><h3>{{category.name}}</h3></th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Aiheet</th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Viestit</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Viimeisin viesti</th>
        </tr>
    </thead>
    <tbody>
        
        {% for area in category.areas %}
        
        <tr>
            <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
            <td><h4><a href="area/{{area.id}}">{{area.name}}</a><br><small>{{area.description}}</small></h4></td>
            <td class="text-center hidden-xs hidden-sm"><a href="#">{{area.number_of_topics}}</a></td>
            <td class="text-center hidden-xs hidden-sm"><a href="#">{{area.number_of_messages}}</a></td>
            {% if area.latest_message != null %}
            <td class="hidden-xs hidden-sm"><a href="#">{{area.latest_message.member.name}}</a>
                <br><small><i class="glyphicon glyphicon-time"></i> {{area.latest_message.time}}</small></td>
            {% else %}
            <td class="hidden-xs hidden-sm">Ei viestejä</td>
            {% endif %}
        </tr>
        
        {% endfor %}
        
        <tr>
            <td></td>
            <td>{{ forms.new_button("#{base_path}/category/#{category.id}/new", "Uusi alue") }}</td>
            <td></td><td></td>
            <td>{{ forms.delete_button("#{base_path}/category/#{category.id}/destroy", "Poista kategoria") }}</td>
        </tr>
    </tbody>
</table>

{% endfor %}

<div class="gap"></div>
{{ forms.new_button("#{base_path}/frontpage/new", "Uusi kategoria") }}

{% endblock %}