{% extends "base.html" %}
{% block content %}

<div class="card card-container">
    <form method="post" action="{{base_path}}/login" class="form-signin">
        <input type="text" name="username" class="form-control" placeholder="Käyttäjätunnus" value="{{username}}" autofocus>
        <input type="password" name="password" class="form-control" placeholder="Salasana">
        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Muista minut
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Kirjaudu sisään</button>
    </form>
    <a href="#" class="forgot-password">
        Unohtuiko salasana?
    </a>
</div>

{% endblock %}

{% block navigation %}{% endblock %}