{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<div class="page-header">
    <h1 class="pull-left">{{topic.name}}</h1>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
    <li><a href="{{base_path}}/frontpage">Etusivu</a></li>
    <li><a href="{{base_path}}/area/{{area.id}}">{{area.name}}</a></li>
    <li><a href="{{base_path}}/topic/{{topic.id}}">{{topic.name}}</a></li>
</ol>

{% for message in messages %}

<div class="panel panel-default">
    <div class="panel-heading message-topic">
        <h3 class="panel-title pull-left">{{message.title}}</h3>

        {% if user_logged_in.isAdmin or user_logged_in.id == message.member.id %}
        <div class="input-group">
            <div class="input-group-btn btn-group-xs">
                {{ forms.destroy_button("#{base_path}/message/#{message.id}/destroy") }}
                {{ forms.edit_button("#{base_path}/message/#{message.id}/edit") }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="panel-body">
        {{message.content}}
    </div>
    <div class="panel-footer message-info">
        <div class="pull-left user-info">
            <small>{{message.member.name}}</small>
        </div>
        <div class="pull-right user-info">
            <small>Lähetetty {{message.time}}</small>
        </div>
    </div>
</div>

{% endfor %}

{% if user_logged_in.isAdmin or user_logged_in.id == topic.member.id %}
<div class="pull-right">
    {{ forms.delete_button("#{base_path}/topic/#{topic.id}/destroy", "Poista viestiketju") }}
</div>
{% endif %}

<div class="clearfix"></div>

{% include 'pagination.html' %}

<div class="clearfix"></div>

{% include 'message/send_message.html' %}

{% endblock %}